
               /* service slider*/

               /* costume bullets */


/* cont position */
.service_slider .swiper-pagination-fraction,
.service_slider .swiper-pagination-custom,
.service_slider .swiper-container-horizontal > .swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 10px;
  left: 0;
}
 
/* all */
.service_slider .swiper-pagination-bullet {
  width: 12px;  
  height: 12px;
  background-color: #FFFFFF;
  border-radius: 50%;
  opacity: 1;
}


/* bullets margin */
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px !important;
}


/* active */
.service_slider .swiper-pagination-bullet-active {
  opacity: 1;
  color: #FFFFFF;
  width: 25px;  
  height: 12px;
  border-radius: 6px;
  opacity: 1;
}

  
 
@media(max-width:1400px){
   .service_slider .swiper-pagination-bullet {
      width: 8px;  
      height: 8px;
   }
   .service_slider .swiper-pagination-bullet-active {
      width: 18px;  
      height: 8px;
      border-radius: 6px;
    }
  
}
